.videoContainer{
  width: 56%;
  height: 100%;
  padding-right: 50%;
  padding-left: 3%;
  padding-top: 65%;
}

.landing-button{
  border-radius: 25px;
  padding: 12px;
  width: 211px !important;
  color: white;
  left: 14%;
  font-size: larger;
  margin-top: 60%;
  position: fixed;
  background-color: #555B92;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
  
.body{
  background-color: #E8D258;
  height: 640px;
}